
/**GENERAL**/
h1 {
    font-family: 'Josefin Sans', sans-serif;
}

li {
    font-family: 'Josefin Sans', sans-serif;
}

p{
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(148, 139, 139, 0);
    text-align: justify;
    line-height: 25px;
    background-color: rgba(231, 147, 190, 0.244);
}
body{
    background-color: rgb(226 104 144);
    
     }


.añadirfav{
    background: linear-gradient(rgb(255, 253, 253), rgb(235, 235, 235), rgb(245, 245, 245));
    padding: 5px 25px;
    border-radius: 8px;
}
h2  {
    font-family: 'Josefin Sans', sans-serif;
}

.añadirfav:hover {
transform: scale(1.2);
}


/* Footer*/
.nombres {
    background: linear-gradient(rgb(252, 161, 161), rgb(226, 104, 144), rgb(239, 59, 166));
    display: flex;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    height: 100px;
    justify-content: center;
    width: 100%;
}
.nombre1 {
    display: flex;
    margin: 20px;
    align-items: center;
}

/** HEADER**/

header {
    background: rgb(252 161 161 / 26%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Burbank Small", Arial, Helvetica, sans-serif;
    
}

.navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

nav {
    width: 100%;
}
.item-header {
    margin: 20px; 
    background: linear-gradient(rgb(252, 161, 161), rgb(226, 104, 144), rgb(239, 59, 166));
    border: 2px solid rgb(187, 74, 83);
    padding: 5px 25px;
    border-radius: 8px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.item-header:hover{
    transform: scale(1.6);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.logo {
   width: 150px;
   height: 150px;
 
}
.búsqueda {
    width: 100%;
}

input {
    margin: 53px; 
    background: linear-gradient(rgb(252, 161, 161), rgb(226, 104, 144), rgb(239, 59, 166));
    border: 2.5px solid rgb(0, 0, 0);
    padding: 10px 80px;
    border-radius: 90px;
}


.lupa {
    width: 25px;
}

/**ESTO ES INDEX HTML**/


.pelis {
    display: flex; 
}

.ima {
 justify-self: center;
}

.ima:hover {
    transform: scale(1.3);   
}
.pelis {
    display: flex;
    height: 267px;
    justify-content: space-between;
 }
 .serie {
display: flex;
height: 267px;
 }
 .popu {
display: flex;
height: 267px;
     }
a.ima {
display: flex;
width: 180px;
margin: 10px;
 }


/**ESTO ES PELICULAS HTML**/
.listadepeliculas {
    display: flex;
    flex-direction: column;

}
.aladdin {
background-image: url(../img/aladdin.jfif);
height: 300px;
width: 200px;
background-size: cover;
background-position: 100% 100%;
display: flex;
margin-top: 10px;


}
.listaladdin {
list-style-type: none;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.trailer{
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    margin-top: 100px;
}
/**ESTO ES SERIES HTML**/
.listadeseries {
    display: flex;
    flex-direction: column;

}
.floricienta {
height: 300px;
width: 200px;
background-size: cover;
background-position: 100% 100%;
display: flex;
margin-top: 10px;
}
.listaflor {
list-style-type: none;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}
.papa {
    display: flex;
}
.parrafo {
    display: flex;
    width: 500px;
}
.floritrailer{
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    margin-top: 100px;
}
/*ESTO ES FAVORITOS HTML**/

.pelisfavoritos {
    display: flex;
    height: 267px;
 }
 .seriefavoritos {
display: flex;
height: 267px;
 }

/**Esto es generO**/
.g{
    display: flex;
    height: 267px;
    margin: 10px;
    width: 180px;
}
.foto{
    display: flex;
}


/**Esto es generoSS**/
.tipos{
    color: black;
    font-size: medium;
}
.listgen{
    list-style: none;
    margin: 20px; 
    background: linear-gradient(rgb(255, 253, 253), rgb(235, 235, 235), rgb(245, 245, 245));
    border: 2px solid rgb(228, 228, 228);
    padding: 2px 25px;
    border-radius: 8px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    width: 150px;
}

.listgen:hover{
    transform: scale(1.6);
}



/**MEDIA**/
@media(max-width:420px){


/**HEADER MEDIA**/
header {
flex-wrap: wrap;
display: flex;
justify-content: center;
}

ul.navbar { 
    margin: 0px;
    padding: 0px; 
}

.item-header {
    align-items: center; 
    margin: 9px;
}

input {
   width: 70%;
}

form {
display: flex;
justify-content: center;
flex-direction: row;
}

.lupa{
    width: 40px;
    height: 40px;
}
.logo{
    width: 220px;
    height: 220px;
}

/**FOOTER MEDIA**/
footer {
    flex-wrap: wrap;
    display: flex;
}

h1{
    font-size: medium;
}

.nombre1{
    font-size: medium;
}

.nombres {
    padding: 0px;
}
/** MAIN INDEX **/

.mainindex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.indexpelis {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pelis {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}
.pelis img {
    width: 100%;
}

/**MEDIA PELÍCULA**/
.listaladdin{
    display: flex;
    flex-direction: column;
}
.papa{
    display: flex;
    flex-direction: column;
}
.trailer{
    margin-left: 0px;
}
/**MEDIA SERIE**/
.floritrailer{
    margin-left: 0px;
}
.listaflor{
    margin-left: 0px;
}

.pelisfavoritos{
    display:flex;   
    flex-direction: row;
}
.seriefavoritos{
    display:flex;   
    flex-direction: row;
}

/**GENEROS MEDIA**/
.ul-listgen {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}