
/* Footer*/
.nombres {
    display: flex;
    font-family: 'Raleway', sans-serif;
    background-color: bisque;
    margin: 0px;
    height: 100px;
    justify-content: center;
    width: 100%;
}
.nombre1 {
    display: flex;
    margin: 20px;
    align-items: center;
}

/** HEADER**/

header {
    font-family: 'Raleway', sans-serif;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav {
    width: 100%;
}
.item-header {
    margin: 20px;
}

.logo {
    width: 100%;
}
.búsqueda {
    width: 100%;
}



/**MEDIA**/
@media(max-width:420px){


}